.DS_Store
*.swp
*~.nib

build

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
SQLite/SQLite.xcodeproj/xcuserdata/ld.xcuserdatad/xcschemes/xcschememanagement.plist
SQLite/SQLite.playground/playground.xcworkspace/xcuserdata/ld.xcuserdatad/UserInterfaceState.xcuserstate
